<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="top center-block text-align-left">

          <h1>寶寶想吃東西</h1><br/>
          <h2>可是寶寶不說可是寶寶不說可是寶寶不說</h2>

          <div class="wrap">
            <%= form_tag( new_order_path, :method => :get , :class => "wrap-write") do %>
              <%= text_field_tag :description,"" ,class: "insert form-control",:placeholder => "想吃什麼？例：一份雞排，一杯可樂", :description => :value %>
              <%= submit_tag("快找代言人" ,:class => "find btn") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contain-order">
  <div class="container-fluid dark">
    <div class="row">
      <div class="col-xs-12">
        <section id="order-list">

          <h3 class="text-center order-title">順路送貨</h3>
          <div class="haha">
            <% @orders.each do |o| %>
              <div>
                <%= render :partial => "order", :locals => {:o => o} %>
              </div>
            <%end%>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.haha').slick({
      // centerMode: true,
      // centerPadding: '60px',
      speed: 300,
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            arrows: true,
            // centerMode: true,
            // centerPadding: '40px',
            slidesToShow: 2
          }
        },
        {
          breakpoint: 768,
          settings: {
            arrows: true,
            // centerMode: true,
            // centerPadding: '40px',
            slidesToShow: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: true,
            // centerMode: true,
            // centerPadding: '40px',
            slidesToShow: 1
          }
        }
      ]
    });
  });
</script>
