<div id="header">
  <div class="container">
    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="top center-block text-align-left">
          <h1>委託收寄件<br/>輕鬆下單，請附近朋友幫忙吧！</h1>
          <div class="write-wrap">

          <a href="/orders/new" class="write btn-default btn btn-xs"><h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i>刊登委託單</h1></a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contain-order">
  <div class="container-fluid dark">
    <div class="row">
      <div class="col-xs-12">
        <section id="order-list">
          <h3 class="text-center order-title ">順路送貨</h3>
          <%= paginate @orders %>
          <% @orders.each do |o| %>
            <%= render :partial => "order", :locals => {:o => o} %>
          <%end%>
        </section>
      </div>
    </div>
  </div>
</div>
