<div id="header">
  <div class="container">
    <div class="row-fluid">
      <div class="col-xs-12">

        <div class="top center-block text-center">
          <h1 class=" page-header ">順路送貨 賺取額外收入</h1>
          <h4>自由接訂單 每個月多3000元收入</h4>
          <% if !current_user %>
            <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-lg" %>
          <% end %>
        </div>

        <section id="order-list">

        </section>




      </div>
    </div>
  </div>
</div>
