<div class="container">
  <div class="row">
    <div class="col-xs-12 userprofile">
      <div class="profile-head">
        <div class="profile-pic"></div>
      <h4> Jack Mandarin <%=@user.fullname%></h4>
      <hr>
      </div>
      <div class="profile-info">
      <div class="profile-input clearfix">
        <label for="name" >真實姓名</label>
        <input type="text" placeholder="請輸入您的真實姓名">
      </div>
      <div class="profile-input clearfix">
        <label for="phone">電話號碼</label>
        <input type="text" placeholder="請輸入您的聯絡電話">
      </div>
      <div class="profile-input clearfix">
        <label for="email">電子信箱</label>
        <input type="text" placeholder="請輸入您的聯絡信箱">
      </div>
      <div class="profile-input clearfix">
        <label for="introduction">自我介紹</label>
        <input type="text" placeholder="運用簡短自介拉近與他人的距離吧！">
      </div>
      </div>
    </div>
  </div>
</div>