<div class="container userprofile">
  <div class="row">
    <div class="col-md-4 col-md-offset-1 col-xs-12">

      <div class="col-md-12">
        <div class="userprofile-pic"></div>
      </div>
      <div class="col-md-12">
        <h4> Jack Mandarine <%=@user.fullname%></h4>
      </div>
      <div class="col-md-12">
        <h5>小星星放這裡哦</h5>
      </div>
      <div class="col-md-6">
        <div> 委託數 <p>xxx</p> </div>
      </div>
      <div class="col-md-6">
        <div> 代買數 <p>xxx</p> </div>
      </div>
    </div>

    <div class="col-md-5 col-md-push-1 col-xs-12 user-info">
      <div class="col-md-12 user-info-fix">
      <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <h4>真實姓名</h4><p>たくよしかわ</p>
      </div>
      <div class="col-md-12 user-info-fix">
      <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
        <h4>電話號碼</h4><p>0919 - 675 - 342</p>
      </div>
      <div class="col-md-12 user-info-fix">
      <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        <h4>電子信箱</h4><p>YouAreMySunshine@iwasjustkidding.com</p>
      </div>
      <div class="col-md-12 user-info-fix">
      <i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
        <h4>自我介紹</h4><p>じゃぎめますで〜私わ佐倉紗織でしょ〜二歩怖</p>
      </div>
    </div>
  </div>
</div>

<div class="container user_orders">
  <div class="row">
    <div class="col-md-5 col-offset-1 col-xs-12">
      <div class="col-md-12"></div>
    </div>
    <div class="col-md-5 col-xs-12">
      <div class="col-md-12"></div>
    </div>
  </div>
</div>
