/*************************
       ＧＥＮＥＲＡＬ
*************************/
.EEE{
  background-color: #EEE;
}
.order_form{
  h1, h3{
    color: #3A4750;
  }
  h1{
    width: 500px;
    margin: 40px auto;
    text-align: center;
  }
}

.yellow-area{
  padding: 10px;
  border-radius: 0.5%;
  background-color: #ECE0BB;
}

.step-div{
  height: 400px;
  max-width: 500px;
  margin: 0 auto;
}

.hideclass{
  display: none;
}
/*************************
      ＳＴＥＰ ＢＡＲ
*************************/
.step-bar{
  margin-bottom: 50px;

  ul{
    padding: 0;
    height: 30px;
    width: 280px;
    margin: 0 auto;

    li{
      float: left;
      line-height: 30px;
      height: 30px;
      font-weight: bold;
      position: relative;
      small{
        position: absolute;
        float: left;
        color: #A9A9A9;
        width: 100px;
        margin: 0 auto;
        text-align: center;
        left:50%;
        transform:translateX(-50%);
        font-size: 1em;
      }
      .dark-word{
        color: #3A4750;
      }
    }
    .bar{
      height: 4px;
      width: 90px;
      background-color: #3A4750;
      position: relative;
      top:50%;
      transform:translateY(-50%);
    }
    .bar-active{
      background-color: #F6C90E;color: #3A4750;
    }
    p{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      background-color: #3A4750;
      color: #EEE;
      margin: 0;
    }
  }
}
/*************************
    ＦＩＲＳＴ ＳＴＥＰ
*************************/

.submit-button {
  color: #3A4750;
}

.form-group {
  color: #3A4750;
}

.submit-button {
  color: #3A4750;
  background-color: #F6C90E ;
  color: #fff;
  border-radius: 5px;
  padding: 0px;
  width: 100px;
  height: 40px;
  border:none;
}
/*************************
          ＲＷＤ
*************************/
/*中中中中中中中中中中中中中中中中中*/
@media (max-width: 992px) and (min-width: 768px) {
  .step-bar{
    margin-bottom: 70px;
    ul{
      width: 330px;
      .bar{
        width: 120px;
      }
      li{
        small{
          width: 130px;
          font-size: 1.3em;
        }
      }
      p{
        font-size: 1.2em;
      }
    }
  }
}
/*大大大大大大大大大大大大大大大大大*/
@media (min-width: 992px) {
  .step-bar{
    margin-bottom: 70px;
    ul{
      width: 330px;
      .bar{
        width: 120px;
      }
      li{
        small{
          width: 130px;
          font-size: 1.3em;
        }
      }
      p{
        font-size: 1.2em;
      }
    }
  }
  .step1, .step2, .step3{
    font-size: 1.5em;
  }
  .input-area{
    padding: 10px;
  }
}
