/******************
ＧＥＮＥＲＡＬ
******************/
$margin-top: 300px;

.h768{
  height: 768px;
}
.contain-order{
  height: 768px;
  background-color: #EEE;
}

.dark{
  background-color: #303841;
}

/*************************
ＨＯＭＥ ＰＡＧＥ ＨＥＡＤＥＲ
*************************/
#header {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    image-url("bike.png");

  height: 768px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0;


  h4 {
    color: #FEFEFE;
  }
  .top {
    padding: 0;
    margin: 0;
    .write{
      background: rgba(0,0,0,0.3);
      border-color: #F6C90E;
      h1 {
        margin-top: 15px;
        margin-bottom: 15px;
      }

    }

    .write:hover{
      background: rgba(0,0,0,0.6);

      }
  }
}

/**************************************************
    ＯＲＤＥＲ ＬＩＳＴ
**************************************************/
#order-list {

  margin: 0 auto;
  padding: 0 auto;

  .order-title{
    color: #F6C90E;
  }
}

.pagination{
  width: 100%;
  color: #000;
  a {
    color: #EEE;
  }
}

.one-order{ /*one order one order one order one order */

  border-style: solid;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: #F6C90E;
  color: #EEE;
  padding: 0 0 34px 0;
  width: 308.33px;
  margin: 0 auto;

  .order-id{
    width: 100px;
    color: red;
  }

  .fee{
    display: block;
    color: #F6C90E;
    margin: 0;
    margin-left: 105.7px;
    padding-right: 0;
    font-size: 1.77em;
    right: 0px;
    width: 200px;
    text-align: right;
    line-height: 1;
    margin-top: -19px;
    /*margin-right: -px;*/

  }

  .detail {
    background-color: #F6C90E;
    border-color: #F6C90E;
    color: #3A4750;
    font-size: 1em;
    font-weight: bold;
    width: 97px;
    margin-left: 6px;
  }

  h3{
    color: #F6C90E;
    margin: 0;
    margin-top: 12px;
    font-size: 1.7em;
  }

  p{
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: auto;
  }
  .fa{
    color: #F6C90E;
  }

  .addr-from{
    margin: 0;
  }

  .fa-ellipsis-v{
    margin-left: 3.366px;
    font-size: 1.3em;
  }

  .addr-to{
    margin-bottom: 5px;
  }

  .wrap-detail{
    padding-left: 25px;
  }

  .detail:hover{

    background-color: #EEE;
    border-color: #EEE;
  }
}
/*************************
          ＲＷＤ
*************************/
/*小小小小小小小小小小小小小小小小小*/
@media (max-width: 480px) {
  #header {
    width: 100vw;
    .top {
      width: 100%;
      margin-left: 0;
      margin-top: $margin-top;
      h1{
        font-size: 1.734999em;
      }
    }
  }

}
/*中中中中中中中中中中中中中中中中中*/
@media (max-width: 992px) and (min-width: 768px) {
  #header {
    width: 100vw;
    .top {
      width: 100%;
      margin-left: 0;
      margin-top: $margin-top;
    }
  }

  #order-list{
  }
}
/*大大大大大大大大大大大大大大大大大*/
@media (min-width: 992px) {

  .container {
    width: 1024px;
  }
  #header {
    .top {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-top: $margin-top;
      h1{
        width: 100%;
        font-size: 4em;
      }
    }
  }
}

