/******************
ＧＥＮＥＲＡＬ
******************/
$margin-top: 200px;

.h768{
  height: 768px;
}

.dark{
  background-color: #303841;

}

.contain-order{
  height: 613px;
}

/*************************
ＨＯＭＥ ＰＡＧＥ ＨＥＡＤＥＲ
*************************/
#header {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    image-url("bike.png");

  height: 768px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100vw;

  .top {
    width: 100%;
    margin-left: 0;
    margin-top: $margin-top;
    padding: 0;

    h1{
      color: #fff;
      display: inline-block;
    }
    h2{
      border-top-style: double;
      border-top-color: #F6C90E;
      border-width: 7px;
      display: inline-block;
      margin-top: 0;
      color: #fff;
    }
    .wrap{
      height:100%;
      margin-top: 230px;
    }

    .wrap-write::before{
       content:'';
       width:0;
       height:100%;
       display:inline-block;
       position:relative;
       vertical-align:middle;
       background:#f00;
     }

    .insert{
      display: inline-block;
      height: 40px;
      width: 66%;
      vertical-align: middle;
      padding: 0;
      background-clip: padding-box;
      border-radius: 0;
      // outline-style: solid;
      // outline-width: 4px;
      // outline-color: rgba(0,0,0,0.6);
    }

    .find{
      background-color: #F6C90E;
      height: 40px;
      width: 100px;
      font-weight: bold;
      color:  rgba(0,0,0,0.5);
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      background-clip: padding-box;
      font-size: 1.3em;
      border-color: #F6C90E;
      // outline-style: solid;
      // outline-width: 4px;
      // outline-color: rgba(0,0,0,0.6);
    }
    .find:hover{
    background-color: rgba(0,0,0,0.5);
    font-weight: normal;
    border-color: #111;
    color: #EEE;
    -webkit-animation-name: color;
    -webkit-animation-duration:0.2s;
    animation-name: color;
    animation-duration:0.2s;
  }
  }

  h4 {
    color: #FEFEFE;
  }
}

/**************************************************
    ＯＲＤＥＲ ＬＩＳＴ
**************************************************/

#order-list {

  padding: 0 20px;
  border-style: none;

  .order-title{
    color: #EEE;
    margin-bottom: 20px;
  }
}
.slick-slide{
  outline: none;
}

.one-order:focus {
  outline: 0;
}

.one-order{ /*ＯＮＥ ＯＲＤＥＲ ＯＮＥ ＯＲＤＥＲ ＯＮＥ ＯＲＤＥＲ */

  border-style: none;
  color: #EEE;
  width: 250px;
  height: 127px;
  float: none;
  margin: 0 auto;

  .order-id{
    width: 100px;
  }

  .fee{
    color: #F6C90E;
    font-size: 1.77em;
    text-align: left;
    line-height: 1;
  }

  .wrap-time{
    float: left;

  }

  .detail {
    float: right;
    background-color: #F6C90E;
    border-color: #F6C90E;
    color: #3A4750;
    font-size: 1em;
    font-weight: bold;
    margin-right: 15px;
  }

  p{
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: auto;
  }
  .fa{
    color: #F6C90E;
  }

  .addr-from{
    margin: 0;
  }

  .fa-ellipsis-v{
    margin-left: 3.366px;
    font-size: 1.3em;
  }

  .addr-to{
    margin-bottom: 5px;
  }

  .detail:hover{
    background-color: rgba(0,0,0,0.5);
    font-weight: normal;
    border-color: #111;
    color: #EEE;
    -webkit-animation-name: color;
    -webkit-animation-duration:0.2s;
    animation-name: color;
    animation-duration:0.2s;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
  }
}
/***************************
ＤＥＴＡＩＬ-ＤＥＳＲＩＰＴＩＯＮ
***************************/
#deatil-description{
  width: 220px;
  height: 180px;
  background-color: #EEE;
  margin: 0 auto;
  border-radius: 2.5%;
  overflow: auto;

  h4{
    background-color: #F6C90E;
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin: 0;
    color: #303841;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
  }

  p{
    color: #303841;
    font-size: 0.5em;
    word-wrap: break-word;
    padding: 0 4px;
  }
}

.app {
  width: 220px;
  margin: 5px auto;
  h3{
    color: #EEE;
  }
  .store{
    width: 112px;
    height: 37px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5%;
  }
  .qrcode{
    display: block;
    width: 112px;
    height: 112px;
    margin: 0 auto;
  }
}
.rob{
  display: none;
  color: #000;
}

/*************************
          LIFE
*************************/
.contain-life{
  background-color: #EEE;
  display: none;
}

.life-img{
  width: 170px;
  max-height: 100px;
  border-radius: 8px;
  margin-right: 15px;
}
/*************************
          ＲＷＤ
*************************/
/*中中中中中中中中中中中中中中中中中*/
@media (max-width: 992px) and (min-width: 768px) {
  #header {
    width: 100vw;
    .top {
      width: 100%;
      margin-left: 0;
      margin-top: $margin-top;
    }
  }

  .one-order{
    border-style: none;
    width: 300px;
    height: 140px;

    .addr-from, .addr-to{
      font-size: 1.1em;
    }

    .fa-ellipsis-v{
      font-size: 1.5em;
      padding-left: 1px;
    }

    .wrap-time{
      font-size: 1.1em;
    }

    .detail{
      font-size: 1.1em;
      margin-right: 43px;
    }

  }

  .contain-life{
    display: block;
    height: 399px;
    background-color: #EEE;
  }

  .life{
    width: 550px;
    height: 160px;
    margin: 0 auto;
    :nth-child(5) {
      margin-right: 0;
    }

    .h2lg{
      display: none;
    }
  }
  #deatil-description{
    width: 270px;
    height: 250px;
    float: left;
  }

  .wrap-desapp{
    width: 530px;
    margin: 0 auto;

    h3{
      display: none;
    }
  }
  .app{
    float: right;
    margin: 0;
    .store{
      width: 187px;
      height: 61px;
    }
    .qrcode{
      display: block;
      width: 187px;
      height: 187px;
    }
  }

  .rob{
    display: block;
    color: #EEE;
    width: 530px;
    margin: 30px auto;
  }
}
/*大大大大大大大大大大大大大大大大大*/
@media (min-width: 992px) {

  .container {
    max-width: 1024px;
  }
  #header {
    .top {
      margin-left: 0;
      margin-right: 0;
      margin-top: $margin-top;
    }
  }

  .one-order{
    margin: 0 auto;
    padding-right: 40px;
    width: 330px;
    height: 140px;

    .addr-from, .addr-to{
      font-size: 1.3em;
      margin-bottom: 3px;
    }

    .fa-ellipsis-v{
      font-size: 1.6em;
      padding-left: 1.9px;
    }

    .wrap-time{
      font-size: 1.2em;
    }

    .detail{
      font-size: 1.2em;
      margin-right: 8px;
    }
  }

  .contain-life{
    height: 320px;
    display: block;
  }

  .life{
    width: 992px;
    height: 100px;
    margin: 0 auto;
    :nth-child(5) {
      margin-right: 0;
    }

    .h2md{
      display: none;
    }

    .h2lg{
      width: 215px;
      text-align: center;
    }

    .life-img{
      width: 222px;
      max-height: 100px;
      border-radius: 8px;
      margin-right: 34px;
    }
  }

  .lifeup{
    margin-top: 43px;
  }

  .lifedown{
    margin-top: 34px;
  }

  #deatil-description{
    width: 270px;
    height: 250px;
    float: left;
  }

  .wrap-desapp{
    width: 530px;
    margin: 0 auto;

    h3{
      display: none;
    }
  }
  .app{
    float: right;
    margin: 0;
    .store{
      width: 187px;
      height: 61px;
    }
    .qrcode{
      display: block;
      width: 187px;
      height: 187px;
    }
  }

  .rob{
    display: block;
    color: #EEE;
    width: 530px;
    margin: 30px auto;
  }
}
