
.modal-body h2{
  text-align: center;
}
.modal-content{
  border: 3px solid #F6C90E;
}
#msgclose{
  float: right;
}

/******************
ＧＥＮＥＲＡＬ
******************/
$margin-top: 200px;

.h768{
  height: 768px;
}

.dark{
  background-color: #303841;

}

.contain-order{
  height: 668px;
}

/*************************
ＨＯＭＥ ＰＡＧＥ ＨＥＡＤＥＲ
*************************/
#header {
  position: relative;

  #bgtest {
    width: 100%;
    margin: auto;
    display: run-in;
  }
  #pic_01, #pic_02, #pic_03, #pic_04, #pic_05 {
    display: run-in;
    height: 768px;
    background-position: center ;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-repeat: no-repeat ;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  #pic_01 {background:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),image-url("look.png");}
  #pic_02 {background:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),image-url("bike.png");}
  #pic_03 {background:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),image-url("bike.jpeg");}
  #pic_04 {background:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),image-url("banana.jpeg");}
  #pic_05 {background:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),image-url("kaho.jpeg");}

  .header-container{
    position: absolute;
    width: 100vw;
    top:0;
  }
  // .Title {
  //     text-align: center;
  //     padding: 0px 0px;
  //     margin: 16px;
  //     display: block;
  //     float: left;
  //     width: 160px;
  //     margin-top: 158px;
  //     background: rgba(94, 101, 105, 0.36);
  //     width: 195px;
  //     margin-left: 0px;
  //     color: #FFF;
  // }

  .top {
    width: 100%;
    margin: $margin-top auto 0 auto;
    padding: 0;

    h1{
      color: #fff;
      display: inline-block;
      font-size: 4em;
      font-weight: bold;
    }
    h2{
      border-top-style: double;
      border-top-color: #F6C90E;
      border-width: 7px;
      display: inline-block;
      margin-top: 0;
      color: #fff;
    }
    .wrap{
      height:100;
      margin-top: 130px;
      height: 46px;
    }

    .wrap-write{
      display: table;
      max-width: 800px;
      margin-top: 150px;
      background-color: rgba(0,0,0,0.6);
      height: 46px;
    }

    .wrap-input{
      border-style: none;
      display: table-cell;
      width: 100%;
      height: 46px;
      padding: 6px;
    }

    .wrap-find{
      position: relative;
      top:50%;
      transform: translateY(-46%);
      border-style: none;
      display: table-cell;
      width: 106px;
      padding: 5px;
      height: 50px;
      padding-left: 1px;
    }

    .insert{
      border-style: none;
      height: 40px;
    }

    .find{
      border-style: none;
      background-color: #F6C90E;
      height: 40px;
      width: 100px;
      font-weight: bold;
      color: #111;
      font-size: 1.4em;
      border-color: #F6C90E;
    }
    .find:hover{
      background-color: rgba(0,0,0,0.5);
      font-weight: normal;
      border-color: #111;
      color: #EEE;
      -webkit-animation-name: color;
      -webkit-animation-duration:1s;
      animation-name: color;
      animation-duration:1s;
    }
  }

  h4 {
    color: #FEFEFE;
  }
}
/*************************
        ＳＬＩＣＫ
*************************/
.slick-slide{
  width: 300px;
}

/**************************************************
    ＯＲＤＥＲ ＬＩＳＴ
**************************************************/

#order-list {

  padding: 0 20px;
  border-style: none;

  .order-title{
    color: #EEE;
    margin: 20px auto;
  }
}
.slick-slide{
  outline: none;
}

.one-order:focus {
  outline: 0;
}
// .slick-current{
//   .one-order{
//     background-color: rbga(0,0,0,0.9) !important;
//   }
// }
.one-order{ /*ＯＮＥ ＯＲＤＥＲ ＯＮＥ ＯＲＤＥＲ ＯＮＥ ＯＲＤＥＲ */

  border-style: solid;
  border-color: #F6C90E;
  border-width: 2px;
  color: #EEE;
  width: 250px;
  height: 140px;
  float: none;
  margin: 0 auto;
  background-color: #3A4750;

  .order-id{
    width: 100px;
  }

  .fee{
    color: #F6C90E;
    font-size: 1.77em;
    text-align: left;
  }

  .wrap-time{
    float: left;
  }

  .detail {
    float: right;
    background-color: #F6C90E;
    border-color: #F6C90E;
    color: #3A4750;
    font-size: 1em;
    font-weight: bold;
    margin-right: 0px;
  }

  p{
    color: #fff;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: auto;
  }
  .fa{
    color: #F6C90E;
  }

  .addr-from{
    margin: 0;
  }

  .fa-ellipsis-v{
    margin-left: 3.366px;
    font-size: 1.3em;
  }

  .addr-to{
    margin-bottom: 5px;
  }

  .detail:hover{
    background-color: rgba(0,0,0,0.5);
    font-weight: normal;
    border-color: #111;
    color: #EEE;
    -webkit-animation-name: color;
    -webkit-animation-duration:1s;
    animation-name: color;
    animation-duration:1s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}
/***************************
ＤＥＴＡＩＬ-ＤＥＳＲＩＰＴＩＯＮ
***************************/
.wrap-desapp{
    width: 330px;
    margin: 20px auto;
    h3{
      margin: 20px auto;
    }
  }
#deatil-description{
  width: 220px;
  height: 180px;
  background-color: #EEE;
  margin: 0 auto;
  border-radius: 2.5%;
  overflow: auto;

  h4{
    background-color: #F6C90E;
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin: 0;
    color: #303841;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
  }

  p{
    color: #303841;
    font-size: 0.5em;
    word-wrap: break-word;
    padding: 0 4px;
  }
}

.app {
  width: 220px;
  margin: 5px auto;
  h3{
    color: #EEE;
  }
  .store{
    width: 112px;
    height: 37px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 5%;
  }
  .qrcode{
    display: block;
    width: 112px;
    height: 112px;
    margin: 0 auto;
  }
}
.rob{
  display: none;
  color: #000;
}

/*************************
          LIFE
*************************/
.contain-life{
  background-color: #EEE;
  display: none;
}

.life-img{
  width: 170px;
  max-height: 100px;
  border-radius: 8px;
  margin-right: 15px;
}
/*************************
          ＲＷＤ
*************************/
/*中中中中中中中中中中中中中中中中中*/
@media (max-width: 992px) and (min-width: 768px) {
  #header {
    width: 100vw;
    .top {
      width: 100%;
      margin-left: 0;
      margin-top: $margin-top;
    }
  }

  .contain-order{
    height: 768px;
  }

  .one-order{
    width: 280px;
    height: 150px;

    .addr-from, .addr-to{
      font-size: 1.1em;
    }

    .fa-ellipsis-v{
      font-size: 1.5em;
      padding-left: 1px;
    }

    .wrap-time{
      font-size: 1.1em;
    }

    .detail{
      font-size: 1.1em;
      margin-right: 0px;
    }

  }

  .contain-life{
    display: block;
    height: 399px;
    background-color: #EEE;
  }

  .life{
    width: 550px;
    height: 160px;
    margin: 0 auto;
    :nth-child(5) {
      margin-right: 0;
    }

    .h2lg{
      display: none;
    }
  }
  #deatil-description{
    width: 270px;
    height: 250px;
    float: left;
  }

  .wrap-desapp{
    width: 530px;
    margin: 50px auto;

    h3{
      display: none;
    }
  }
  .app{
    float: right;
    margin: 0;
    .store{
      width: 187px;
      height: 61px;
    }
    .qrcode{
      display: block;
      width: 187px;
      height: 187px;
    }
  }

  .rob{
    display: block;
    color: #EEE;
    width: 530px;
    margin: 30px auto;
  }
}
/*大大大大大大大大大大大大大大大大大*/
@media (min-width: 992px) {

  .container {
    max-width: 1024px;
  }
  #header {
    .top {
      margin-left: 0;
      margin-right: 0;
      margin-top: $margin-top;
      h2{
        font-size: 2.6em;
      }
    }
  }

  .slick-slide{
    width: 320px;
  }

  .contain-order{
    height: 768px;
  }

  #order-list{
    height: 520px;
  }

  .one-order{
    margin: 0 auto;
    height: 160px;
    width: 100%;
    border-style: none;
    border-bottom-style: solid;
    letter-spacing: 1.4px;
    margin-top: 10px;

    .addr-from, .addr-to{
      font-size: 1.3em;
      margin-bottom: 3px;
    }

    .fa-ellipsis-v{
      font-size: 1.6em;
      padding-left: 1.9px;
    }

    .wrap-time{
      font-size: 1.2em;
    }

    .detail{
      font-size: 1.2em;
      margin-right: 8px;
    }
  }

  .contain-life{
    height: 320px;
    display: block;
  }

  .life{
    width: 992px;
    height: 100px;
    margin: 0 auto;

    .h2md{
      display: none;
    }

    .h2lg{
      width: 215px;
      text-align: center;
      padding: 0;
      padding-right: 30px;
    }

    .life-img{
      width: 222px;
      max-height: 100px;
      border-radius: 8px;
      margin-right: 34px;
    }

    :nth-child(5) {
      margin-right: 0;
    }
  }

  .lifeup{
    margin-top: 43px;

  }

  .lifedown{
    margin-top: 34px;
  }

  #deatil-description{
    width: 310px;
    height: 400px;
    float: left;
    position: relative;
    h4{
      height: 60px;
      line-height: 60px;
      font-size: 1.7em;
    }

    p{
      font-size: 0.6em;
    }

    .desyellow{
      position: absolute;
      width: 100%;
      height: 60px;
      bottom:0;
    }
  }

  .wrap-desapp{
    width: 492px;
    margin: 0 auto;
    margin-top: 11px;

    h3{
      display: none;
    }
  }
  .app{
    width: 167px;
    float: right;
    margin: 0;
    .store{
      width: 167px;
      height: 56px;
    }
    .qrcode{
      display: block;
      width: 167px;
      height: 167px;
      margin: 0;
    }
  }

  .rob{
    line-height: 60px;
    display: block;
    color: #EEE;
    width: 900px;
    margin: 30px 0 30px 4px;
    font-size: 3em;
  }
}
