/*************************
       ＧＥＮＥＲＡＬ
*************************/
.show{
  width: 370px;
  margin: 0 auto;
}

h3 {
  color: #F6C90E;
}
/*************************
        ＳＨＯＷ
*************************/
.show{
  span{
    color: #3A4750;
    font-size: 1.2em;
    padding-left: 3px;
    font-weight: bold;
  }
  .subtitle{
    font-size: 1.1em;
    font-weight: normal;
  }
}



/*************************
     ＧＯＯＧＬＥＭＡＰ
*************************/
#googleMap {
   width:370px;
   height:300px;
   margin: 0 auto;
   border-style: solid;
   border-width: 2px;
   border-color: #F6C90E;
}

.buttons{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}
/*************************
          ＲＷＤ
*************************/
/*中中中中中中中中中中中中中中中中中*/
@media (max-width: 992px) and (min-width: 768px) {
  #googleMap{
    width: 400px;
    height: 400px;
  }
}
/*大大大大大大大大大大大大大大大大大*/
@media (min-width: 992px) {

}

