/*************************
ＨＯＭＥ ＰＡＧＥ ＨＥＡＤＥＲ
*************************/
$margin-top: 230px;

#header {

  background:

    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),

    url(bike.png);

  width: 100vw;
  height: 660px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;

  h1 {
    margin: 0;
  }

  h4 {
    color: #FEFEFE;
  }
  .top {
    padding: 0;
    margin: 0;
  }

}




/******************
ＢＯＤＹ
******************/
h1{

  color: #F6C90E ;

}

body {
  background-color: #3A4750;
}

/*************************
          ＲＷＤ
*************************/
@media (max-width: 480px) {
  #header {
    .top {
      width: 300px;
      margin:0 auto;
      margin-top: $margin-top;

      h1 {
        font-size: 2em;
      }
    }
  }
}


@media (max-width: 1024px) and (min-width: 480px) {

  #header {
    .top {
      max-width: 520px;
      margin:0 auto;
      margin-top: $margin-top;

      h1 {
        font-size: 2.5em;
      }
    }
  }
}

@media (min-width: 1024px) {
  #header {
    .top {
      max-width: 520px;
      margin: 0 auto;
      margin-top: $margin-top;

      h1 {
        font-size: 3em;
      }
    }
  }
}
