/*************************
ＭＥＮＵ ＨＡＭＢＵＲＧＥＲ
*************************/
.menu {
  li{
    font-size: 1.6em;
  }
}

.spanout {
  width: 100vw;
  height:100vh;
  position:fixed;
}

.ham-head{
  width:100%;
  background:#1d1f20;
  height:50px;
  line-height:50px;
  font-size: 2.5em;

  h1 {
    color: #FEFEFE;
    margin: 0;
    padding: 0;
    background:none;
    position:absolute;
    top:0;
    left:0;
    line-height:45px;
    padding:0px 15px 0px 15px;
    border:0;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }

  .hamburger{
    background:none;
    position:absolute;
    top:0;
    right:0;
    line-height:45px;
    padding:0px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }

  .cross{
    background:none;
    position:absolute;
    top:0px;
    right:0;
    padding:0px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
}


.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%;
  background:linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.9)
    ); position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu li:hover{display: block;  background:
      rgba(0, 0, 0, 0.7)
    ; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white;
  font-size:1.5em;
  margin-top:5px;
  margin:0 auto;
}


/*************************
ＨＯＭＥ ＰＡＧＥ ＨＥＡＤＥＲ
*************************/
$margin-top: 184px;

#header {

  background:

    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0)
    ),

    url(bike.png);

  width: 100vw;
  height: 667px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;

  h1 {
    margin: 0;
  }

  h4 {
    color: #FEFEFE;
  }
  .top {
    padding: 0;
    margin: 0;
  }

}




/******************
ＢＯＤＹ
******************/
h1{
  color: #F6C90E ;
}

body {
  background-color: #3A4750;
  margin:0;
}

/*************************
          ＲＷＤ
*************************/
@media (max-width: 480px) {
  #header {
    .top {
      width: 300px;
      margin:0 auto;
      margin-top: $margin-top;

      h1 {
        font-size: 2em;
      }
    }
  }

  .ham-head {
    h1{
      font-size: 0.6em;
      margin-left: 0;
    }
  }

}


@media (max-width: 1024px) and (min-width: 480px) {

  #header {
    .top {
      max-width: 520px;
      margin:0 auto;
      margin-top: $margin-top;

      h1 {
        font-size: 2.5em;
      }
    }
  }

  .ham-head {
    h1{
      font-size: 0.9em;
      margin-left: 2%;
    }
  }

}

@media (min-width: 1024px) {
  #header {
    .top {
      max-width: 520px;
      margin: 0 auto;
      margin-top: $margin-top;

      h1 {
        font-size: 3em;
      }
    }
  }

  .ham-head {
    h1{
      font-size: 1.2em;
      margin-left: 1%;
    }
  }

}

