.userprofile {
  width: 100%;
  background-color: #303841;
  color: #fff;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 50px;
}
.userprofile-pic {
  position: relative;
  left: 44%;
  margin: 64px 0;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  img {
    border: 7px solid #F6C90E;
    border-radius: 50%;
  }
}
.owner_count {
  margin-top: 20px;
  margin-left: 80px;
  float: left;
}
.courier_count {
  margin-top: 20px;
  margin-right: 80px;
  float: right;
}
.user-info {
  margin: 40px 0;
  padding-left: 40px;
  text-align: left;
}
.user-info-fix p {
  color: #F6C90E;
}
.user-info-fix {
  margin: 42px 0;
  position: relative;
  i {
    padding-bottom: 10px;
    position: absolute;
    left: 0;
  }
  .fa-user {
    top: 0;
    transform: translateX(20%);
  }
  .fa-mobile {
    transform: translateY(-14%);
    left: 5px;
  }
  .fa-file-text {
    left: 1px;
  }
  p {
    display: inline;
    margin: 0 10px;
    /*float: right;*/
    font-size: 16px;
    left: 45px;
    position: relative;
  }
  h4 {
    display: inline;
    margin: 0 10px;
    left: 35px;
    position: relative;
  }
}
.intro {
  padding-top: 10px;
  padding-right: 40px;
}
/*********user_orders**************/
.user_orders {
  background-color: #EEEEEE;
  width: 76%;
  border-radius: 1%;
}
.tab {
  margin: 20px 0;
  padding-left: 40px;
  list-style-type: none;
}
.tab li {
  transform: translateY(-142%);
  border-radius: 10%;
  float: left;
  padding: 10px 30px;
  background-color: #ccc;
  cursor: pointer;
}
.tab li.active,
.tab li:hover {
  background-color: #EEEEEE;
  color: black;
}
.content {
  display: none;
}
.content.active {
  display: block;
}
.orders_list {
  padding: 2px;
  border-radius: 1%;
  .one-order {
    background-color: #3A4750;
  }
}

.edit_buttom{
  position: absolute;
}
/*************************
          ＲＷＤ
*************************/
@media (max-width: 992px) and (min-width: 768px) {}
@media (min-width: 992px) {}
