.userprofile {
  width: 100%;
  background-color: #303841;
  color: #fff;
  text-align: center;
}

.userprofile-pic{
  margin: 30px auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #F6C90E;
}

.owner_count{
  margin-top:20px;
  margin-left: 80px;
  float: left;
}

.courier_count{
  margin-top:20px;
  margin-right: 80px;
  float: right;

}

.user-info{
  margin: 30px 0;
  text-align: left;
}

.user-info-fix p{
  color: #ccc;
}

.user_orders{
  background-color: #EEEEEE;
  width: 100%;
}
.user-info-fix{
  margin: 15px 0;
  position: relative;
  i{
    padding-bottom: 10px;
    position: absolute;
    left: 0;
  }

  .fa-user {
    top: 0px;
    transform: translateX(20%);
  }

  .fa-mobile {
    transform: translateY(-14%);
    left: 5px;
  }

  .fa-file-text{
    left: 1px;
  }

.orders_list{

}

  p{
    display: inline;
    margin: 0 10px;
    /*float: right;*/
    font-size: 12px;
    left: 45px;
    position: relative;


  }
  h4{
    display: inline;
    margin:  0 10px;
    left: 35px;
    position: relative;
  }
}

.intro{
  padding-top: 10px;
  padding-right: 40px;
}
/*********user_orders**************/

.tab {
  margin: 20px 0;
  padding-left: 100px;
  list-style-type: none;
}

.tab li {
  border-radius: 10%;
  float: left;
  padding: 10px 30px 10px 30px;
  margin-right: 10px;
  background-color: #ccc;
  cursor: pointer;
}

.tab li.active, .tab li:hover {
  background-color: #fff;
  color: black;
}
.content {
  display: none;
}

.content.active {
  display: block;
}

.orders_list{
  border-radius: 5%;
}

/*************************
          ＲＷＤ
*************************/
@media (max-width: 992px) and (min-width: 768px) {
  .user_orders{
    background-color: #EEEEEE;
    width: 100%;
  }


}


@media (min-width: 992px) {
  .user_orders{
    background-color: #EEEEEE;
    width: 100%;
  }
}
